.header {
    font-size: 0;
}
.tab {
    display: inline-block;
    width: 50px;
    height: 35px;
    border: 1px solid #ccc;
    background-color: #ddd;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    line-height: 35px;
}
.tab.active {
    background-color: #fff;
}
.content {
    position: relative;
    width: 250px;
    height: 200px;
    border: 1px solid #ccc;
    margin-bottom: 30px;
}
.panel {
    position: absolute;
    top: 20px;
    left: 20px;
    display: none;
}
.panel.active {
    display: block;
}
button {
    width: 60px;
    height: 30px;
}